body{
	background-color: #020309;
	color: white;
}

.modal-content {
	background-color: #0a101c;
	color: white;
}

.modal-header {
	border-color: #191919;
}

.modal-header .btn-close {
	color: #fff!important;
}


/* PAGE LAYOUT */

#dashboard_frame {
	/*width: 100vw;*/
	overflow-x: hidden;
}

#topbar {
	background-color: rgba(0, 0, 17, 0.07);
	height: 50px;
	margin-bottom: 20px;
}

#tb_logo {
	float: left;
	text-align: center;
	width: 400px;
	padding-top: 12px;
}

#tb_logo img{
	max-height: 30px;
}

#tb_btns_left, #tb_btns_right {
	width: calc(calc(100% - 400px)/2);
	height: 40px;
	float: left;
}

.widget {
	margin-bottom: 20px;
	background-color: #0e1726;
}

.widget .widget-header {
	padding: 14px 20px 0px 20px!important;
	border-bottom: 1px solid rgb(0, 0, 0);
}


/* TIMERBOX */



#timerBox {
	width: 24vw;
		background-color: rgba(12, 12, 12, 0.43);
	float: left;
	padding: 0;
	margin: 0;
}




.ledcolorswatches button {
	padding: 0px!important;
	border: 0px;
}

.ledcolorswatches button span {
	height: 26px;
	min-width: 26px;
}



.form-select, .form-select:disabled, .form-control, .form-control:focus, .heatselection select, .input-group-text {
	background-color: rgba(0, 0, 0, 0.5);
	border-color: rgba(0, 0, 0, 0.77);
	color: #fff;
}



.led_level {
	text-align: right;
	font-size: 12px;
}

#set_led_brightness {
	width: 100%;
}

#set_led_color {
	float: right;
}


.audio_qs_btn {
	display: inline-block;
	width: 46px;
	height: 46px;
	text-align: center;
	font-size: 24px;
	padding-top: 7px;
	border-radius: 4px;
}





/* Status Icon in Header */

#statusicons {
	padding-top: 14px;
	padding-right: 10px;
}

.si_item {
	float: right;
	/* width: 60px; */
	text-align: center;
	margin: 0px 4px;
	padding: 0 10px;
}

.si_item .si_item_icon {
	font-size: 20px;
	color: #444444
}

.si_item .si_item_span {
	font-size: 9px;
	color: #444444
}

.si_item_connected .si_item_icon, .si_item_connected .si_item_span{
	color: #a1a1a1
}



/* Homepage */
.hp_sponsorlist img{
	height: 80px;
}

.hp_eventlogo svg{
	max-height: 100px;
	margin-bottom: 12px;
}

.home_quickbuttons {
	margin-bottom: 10px;
}